.label,
.input {
  display: block;
  font-size: 24px;
}

.input {
  background-color: #09192f;
  border: none;
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
  padding: 10px;
  color: #c8d2f1;
  margin: 1rem 0;
  resize: none;
}

/* Remove arrows from number type input */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input:focus {
  outline: #53d2ba solid 1px;
  border-radius: 4px;
}

.formControl {
  margin: 2rem 0;
}

.button {
  width: 100%;
  margin: 0;
}

.form {
  width: 80%;
}
