.navbar {
  background-color: #09192f;
  box-shadow: 6px 4px 26px -8px rgb(0, 0, 0, 0.8);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
}

.button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #53d2ba;
  border: 2px solid #53d2ba;
  border-radius: 6px;
  background: rgba(0, 0, 0,0);
}

.button:hover {
  color: #82f0dc;
  border: 2px solid #82f0dc;
}

.button:active {
  color: #6ba59a;
  border: 2px solid #6ba59a;
}